*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Verdana;
}
center{
    position: relative;
    margin: 20px auto;
    width: 600px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: blue;
    color:white;
    font-weight: bold;
    border: 5px solid #ccc;
    border-radius: 20px;
}

#periodic_table{
    position: relative;
    margin: 20px auto;
    width: 800px;
    height: 600px;
    border: 1px solid #aaa;
    border-radius: 20px;
    background: #ddd;
}

#periodic_table ul{
    margin: 15px;
}

#periodic_table ul li{
    float:left;
    padding: 50px;
    width: 250px;
    text-align: center;
    margin: 16px;
    background: white;
    border:1px solid #aaa;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    font-weight: bold;
    cursor:pointer;
}